@import "../variables";
@import "../card";
@import "../button";

:host {
  display: flex;
  flex-direction: column;

  @include card;
}

.start-button {
  @include button;
  margin: 20px auto;
  padding: 20px;
}

.text {
  margin: 3px auto;
}
